[run]
# Include the main CLI script and the classes directory
source = 
    classes/*

# Exclude test files
omit = 
    gh_rotator.py
    tests/*
    setup.py

[report]
# Fail the build if the coverage is below threshold
fail_under = 75

# Skip empty files
skip_empty = True

